/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Beggining of Styles */
.card-list {
  display: flex;
  padding: 32px;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  padding: 16px;
}

header {
  display: flex;
  justify-content: end;
  padding: 32px;
  border-bottom: 1px solid black;
}

form div {
  padding: 16px 0;
}

form button {
  margin: 16px;
}